# Application thread and feature configuration.

rsource "../../drivers/Kconfig"
rsource "../../algorithm/Kconfig"
rsource "../../modules/Kconfig"
rsource "../../topic/Kconfig"
rsource "../../cmd/shell/Kconfig"

######################################################

config TRD_GPIO
    bool "GPIO thread task"
    default y
    # select DEV_GPIO
    select MOD_DEV_WS2812B
    select CTL_TIMER
    help
      Enable the GPIO/output indicator thread.

######################################################

config TRD_CHASSIS
    bool "Chassis control thread"
    default y
    select MOD_CTL_POWER
    select MOD_DEV_MOTOR_DJI
    select TPC_TO_CAN_TX
    select TPC_REMOTE_TO
    help
      Enable chassis control thread.

config USE_POWERMETER
    bool "Power meter"
    depends on TRD_CHASSIS
    default n
    select MOD_DEV_POWERMETER
    help
      Enable power meter support for chassis control.

######################################################

config TRD_GIMBAL
    bool "Gimbal control thread"
    default n
    select CTL_PID
    select MOD_DEV_MOTOR_DM
    select TPC_TO_CAN_TX
    select TPC_REMOTE_TO
    help
      Enable gimbal control thread.

######################################################

config TRD_CAN_TX
    bool "CAN TX thread"
    default y
    select COM_CAN
    select TPC_TO_CAN_TX
    help
      Enable CAN TX thread.

######################################################

config TRD_REMOTE
    bool "Remote thread"
    default y
    select MOD_DEV_REMOTE
    help
      Enable remote receiver thread.

######################################################

config TRD_TFLM
    bool "TFLM inference thread"
    default n
    select TFLM
    help
      Enable TFLM inference test thread.

######################################################

config USER_TEST_ADD
    bool "User test add config"
    default y
    select COM_RS485
    help
      Temporary user test switch.
