#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/clock/hpm5361-clocks.h>

/ {
	aliases {
		user-can1 =  &mcan0;
		uart-remote = &uart4;
	};

	chosen {
		zephyr,console = &uart3;
	};
};

&hdma {
	status = "okay";
};

&gpioa {
	pinctrl-0 = <&pinmux_gpioa>;
	pinctrl-names = "default";
	status = "okay";
};

&mcan0 {
	pinctrl-0 = <&pinmux_mcan0_txrx_local>;
	pinctrl-names = "default";
	bitrate = <1000000>;
	status = "okay";
};

&uart4 {
	current-speed = <100000>;
	pinctrl-0 = <&pinmux_uart4_rx>;
	pinctrl-names = "default";
	uart-idle-trgm-reg = <0xF033C000>;
	uart-idle-trgm-pin = <17>;
	uart-idle-trgm-input-src = <0x15>;
	uart-idle-trgm-output-gptmr-in = <0x19>;
	uart-idle-trgm-output-gptmr-sync = <0x1B>;
	uart-idle-gptmr-reg = <0xF000C000>;
	uart-idle-gptmr-clock-name = <CLOCK_GPTMR3>;
	dmas = <&hdma 2 0x1C>, <&hdma 3 0x1D>;
	dma-names = "rx", "tx";
	status = "okay";
};

&uart3 {
	current-speed = <115200>;
	pinctrl-0 = <&pinmux_uart3>;
	pinctrl-names = "default";
	dmas = <&hdma 4 0x1A>, <&hdma 5 0x1B>;
	dma-names = "rx", "tx";
	status = "okay";
};

&pinctrl {
	pinmux_mcan0_txrx_local: pinmux_mcan0_txrx_local {
		group0 {
			pinmux = <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTB, 0), IOC_TYPE_IOC, 0, 7)>,
				 <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTB, 1), IOC_TYPE_IOC, 0, 7)>;
		};
	};

	pinmux_uart3: pinmux_uart3 {
		group0 {
			pinmux = <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTA, 14), IOC_TYPE_IOC, 0, 2)>,
				 <HPMICRO_PINMUX(HPMICRO_PIN(HPMICRO_PORTA, 15), IOC_TYPE_IOC, 0, 2)>;
			input-enable;
		};
	};
};

&mtimer {
	compatible = "riscv,machine-timer", "andestech,machine-timer";
	reg-names = "mtime", "mtimecmp";
};
